ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
body {
    padding: 0;
    margin: 0;
}
#conversation {
    font-family: Helvetica, sans-serif;
    padding: 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
    background: aliceblue;
    border: 1px solid #EBEEF5;
    height: 340px;
    overflow: scroll;
}
input {
    padding: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: fixed;
    bottom: 50px;
    width: 260px;
}
.bubble-container {
    text-align: left;
}

.bubble {
    border: 2px solid #f1f1f1;
    background-color: #fdfbfa;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 230px;
    float: right;
    margin-right: 5px;
}

.myMessage .bubble {
    margin-left: 5px;
    float: left;
}

.name {
    padding-right: 8px;
    font-size: 11px;
}